.icon{background-image:url(master.gif);}.arrow-right_png{background-position:0 0px;width:16px;height:16px;}
.arrow-small_gif{background-position:0 -32px;width:9px;height:8px;}
.bin-empty_png{background-position:0 -64px;width:16px;height:16px;}
.brick-add_png{background-position:0 -96px;width:16px;height:16px;}
.brick-edit_png{background-position:0 -128px;width:16px;height:16px;}
.brick-green_png{background-position:0 -160px;width:16px;height:16px;}
.brick_png{background-position:0 -192px;width:16px;height:16px;}
.bricks_png{background-position:0 -224px;width:16px;height:16px;}
.bug_png{background-position:0 -256px;width:16px;height:16px;}
.cart-put_png{background-position:0 -288px;width:16px;height:16px;}
.cart-remove_png{background-position:0 -320px;width:16px;height:16px;}
.checkmark_gif{background-position:0 -352px;width:12px;height:9px;}
.document_gif{background-position:0 -384px;width:11px;height:14px;}
.door-open_png{background-position:0 -416px;width:16px;height:16px;}
.group_png{background-position:0 -448px;width:16px;height:16px;}
.house_png{background-position:0 -480px;width:16px;height:16px;}
.information_png{background-position:0 -512px;width:16px;height:16px;}
.key_png{background-position:0 -544px;width:16px;height:16px;}
.notepad_gif{background-position:0 -576px;width:11px;height:14px;}
.page-edit_png{background-position:0 -608px;width:16px;height:16px;}
.page-white-edit_png{background-position:0 -640px;width:16px;height:16px;}
.pencil_png{background-position:0 -672px;width:16px;height:16px;}
.plugin-add_png{background-position:0 -704px;width:16px;height:16px;}
.plugin-delete_png{background-position:0 -736px;width:16px;height:16px;}
.plugin-disabled_png{background-position:0 -768px;width:16px;height:16px;}
.plugin-edit_png{background-position:0 -800px;width:16px;height:16px;}
.plugin-error_png{background-position:0 -832px;width:16px;height:16px;}
.plugin_png{background-position:0 -864px;width:16px;height:16px;}
.subject-a_png{background-position:0 -896px;width:16px;height:16px;}
.subject-f_png{background-position:0 -928px;width:16px;height:16px;}
.subject-ip_png{background-position:0 -960px;width:16px;height:16px;}
.subject-it_png{background-position:0 -992px;width:16px;height:16px;}
.subject-m_png{background-position:0 -1024px;width:16px;height:16px;}
.subject_png{background-position:0 -1056px;width:16px;height:16px;}
.tick-yellow_png{background-position:0 -1088px;width:16px;height:16px;}
.tick_png{background-position:0 -1120px;width:16px;height:16px;}
.time_png{background-position:0 -1152px;width:16px;height:16px;}
.user-blue_gif{background-position:0 -1184px;width:10px;height:12px;}
.user-gray_gif{background-position:0 -1216px;width:10px;height:12px;}
.user-gray_png{background-position:0 -1248px;width:16px;height:16px;}
.user-green_gif{background-position:0 -1280px;width:10px;height:12px;}
.user-green_png{background-position:0 -1312px;width:16px;height:16px;}
.user_png{background-position:0 -1344px;width:16px;height:16px;}
.users_gif{background-position:0 -1376px;width:11px;height:12px;}
.wrench_png{background-position:0 -1408px;width:16px;height:16px;}
